<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="SkyScanner.Recipe" value="SkyScanner" />

    <add key="NLog.SmtpServer" value="smtp.gmail.com"/>
    <add key="NLog.SmtpPort" value="587"/>
    <add key="NLog.SmtpUserName" value="noreply@ark-energy.eu"/>
    <add key="NLog.SmtpPassword" value="pC4V8gow"/>
    <add key="NLog.SmtpUseSsl" value="true"/>
    <add key="NLog.MailingList" value="arkive-notifications@ark-energy.eu"/>
    
  </appSettings>
  <connectionStrings>
    <add name="NLog.Database" connectionString="Server=localhost\SQLEXPRESS;Database=SkyScanner;Trusted_Connection=True;"/>
    <add name="SkyScanner.Database" connectionString="Server=localhost\SQLEXPRESS;Database=SkyScanner;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>